body,
html,
a {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: #000000;
  overflow-x: hidden;
}

a:hover {
  color: #007ea7;
}

input,
textarea {
  border-radius: 4px;
  border: 0;
  background: #003459;
  transition: all 0.3s ease-in-out;
  outline: none;
  width: 100%;
  padding: 1rem 1.25rem;
}

input:focus-within,
textarea:focus-within {
  background: none;
  box-shadow: #00a8e8 0px 0px 0px 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue', sans-serif;
  color: #ffffff;
  font-size: 56px;
  line-height: 1.18;
  font-weight: 700;
}

@media only screen and (max-width: 890px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 47px;
  }
}

@media only screen and (max-width: 414px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 32px;
  }
}

p,
label {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 21px;
  line-height: 1.41;
}

h1 {
  font-weight: 600;
}

a {
  text-decoration: none;
  outline: none;
  color: #00a8e8;
}

a:hover {
  color: #007ea7;
}

*:focus {
  outline: none;
}

.about-block-image svg {
  text-align: center;
}

.ant-drawer-body {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 1.5rem;
}

.ant-drawer-content-wrapper {
  width: 300px !important;
}
