@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BebasNeue';
  src:
    local('BebasNeue'),
    url('./assets/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat';
  src:
    local('Montserrat'),
    url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 400, 500, 600, 700;
}

.title {
  font-family: 'BebasNeue';
}

.body {
  font-family: 'Montserrat';
}

.home body,
.home html,
.home a {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}

.home body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: #000000;
  overflow-x: hidden;
}

.home a:hover {
  color: #007ea7;
}

.home input {
  border-radius: 4px;
  border: 0;
  background: #ffffff;
  transition: all 0.3s ease-in-out;
  outline: none;
  width: 100%;
  padding: 1rem 1.25rem;
}

.home input:focus-within {
  background: none;
  box-shadow: #00a8e8 0px 0px 0px 1px;
}

.home h1,
.home h2,
.home h3,
.home h4,
.home h5 {
  font-family: 'Bebas Neue', sans-serif;
  color: #000000;
  font-size: 60px;
  line-height: 1.18;
  font-weight: 700;
}

.home h6 {
  font-family: 'Bebas Neue', sans-serif;
  color: #000000;
  font-size: 30px;
  line-height: 1.18;
  font-weight: 700;
}

@media only screen and (max-width: 890px) {
  .home h6 {
    font-size: 34px;
  }
}

@media only screen and (max-width: 414px) {
  .home h6 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 890px) {
  .home h1,
  .home h2,
  .home h3,
  .home h4,
  .home h5 {
    font-size: 48px;
  }
}

@media only screen and (max-width: 414px) {
  .home h1,
  .home h2,
  .home h3,
  .home h4,
  .home h5 {
    font-size: 36px;
  }
}

.home p,
.home label {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 19px;
  line-height: 1.41;
}

.home h1 {
  font-weight: 600;
}

.home a {
  text-decoration: none;
  outline: none;
  color: #00a8e8;
}

.home a:hover {
  color: #007ea7;
}

.home *:focus {
  outline: none;
}

.about-block-image svg {
  text-align: center;
}

.ant-drawer-body {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 1.5rem;
}

.ant-drawer-content-wrapper {
  width: 300px !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
